In [1]:
import pandas as pd 
import numpy as np 
import scipy as sp 
import matplotlib.pyplot as plt

Reading and Analysis of data

In [0]:
d1 = pd.read_csv('data.csv')
d1.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.0,50.608,54.2000,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0

In [0]:
d1.shape

(30697, 28)

In [0]:
#dropping column team name, team id because it's same throughout and seconds don't hold much importance in goal detection
d1 = d1.drop(['team_name','team_id','shot_id_number','remaining_sec','remaining_sec.1'],axis=1)
d1.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,distance_of_shot,is_goal,...,date_of_game,home/away,lat/lng,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,power_of_shot.1,knockout_match.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,38.0,NaN,...,2000-10-31,MANU @ POR,"45.539131, -122.651648",shot - 30,NaN,20000012,10.00,1.0,50.608,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,35.0,0.0,...,2000-10-31,MANU @ POR,"45.539131, -122.651648",shot - 45,NaN,20000012,10.00,1.0,28.800,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,36.0,1.0,...,2000-10-31,NaN,"45.539131, -122.651648",shot - 25,NaN,20000012,92.64,1.0,0.000,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,42.0,0.0,...,2000-10-31,MANU @ POR,"45.539131, -122.651648",NaN,shot - 3,20000012,NaN,1.0,122.608,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,20.0,1.0,...,2000-10-31,MANU @ POR,"45.539131, -122.651648",NaN,shot - 1,20000012,42.64,2.0,0.000,20.0

In [0]:
#filling in the missing values in shot_id_number column 
d1['Unnamed: 0'] += 1
d1 = d1.rename(columns={'Unnamed: 0': 'shot_id_number'})
d1.head()

,shot_id_number,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,distance_of_shot,is_goal,...,date_of_game,home/away,lat/lng,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,power_of_shot.1,knockout_match.1,distance_of_shot.1
0,1,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,38.0,NaN,...,2000-10-31,MANU @ POR,"45.539131, -122.651648",shot - 30,NaN,20000012,10.00,1.0,50.608,38.0
1,2,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,35.0,0.0,...,2000-10-31,MANU @ POR,"45.539131, -122.651648",shot - 45,NaN,20000012,10.00,1.0,28.800,35.0
2,3,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,36.0,1.0,...,2000-10-31,NaN,"45.539131, -122.651648",shot - 25,NaN,20000012,92.64,1.0,0.000,54.4
3,4,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,42.0,0.0,...,2000-10-31,MANU @ POR,"45.539131, -122.651648",NaN,shot - 3,20000012,NaN,1.0,122.608,42.0
4,5,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,20.0,1.0,...,2000-10-31,MANU @ POR,"45.539131, -122.651648",NaN,shot - 1,20000012,42.64,2.0,0.000,20.0

In [0]:
#distance of shot analysis
#to see whether the values are same or not 
d2 = d1[['distance_of_shot','distance_of_shot.1']]
d2 = d2.rename(columns={'distance_of_shot.1':'distance_of_shot_1'})
d2.head()

   distance_of_shot  distance_of_shot_1
0              38.0                38.0
1              35.0                35.0
2              36.0                54.4
3              42.0                42.0
4              20.0                20.0

In [0]:
#filling na values and finding average of the 2 cols
d2.distance_of_shot.fillna(d2.distance_of_shot_1, inplace=True)
d2.distance_of_shot_1.fillna(d2.distance_of_shot, inplace=True)
d2['distance_of_shot_avg']=d2.mean(axis=1)
d2.head()

   distance_of_shot  distance_of_shot_1  distance_of_shot_avg
0              38.0                38.0                  38.0
1              35.0                35.0                  35.0
2              36.0                54.4                  45.2
3              42.0                42.0                  42.0
4              20.0                20.0                  20.0

In [0]:
d1 = d1.drop(['distance_of_shot','distance_of_shot.1'],axis=1)
d1.head()

,shot_id_number,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,is_goal,area_of_shot,...,range_of_shot,date_of_game,home/away,lat/lng,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,power_of_shot.1,knockout_match.1
0,1,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,NaN,Right Side(R),...,16-24 ft.,2000-10-31,MANU @ POR,"45.539131, -122.651648",shot - 30,NaN,20000012,10.00,1.0,50.608
1,2,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,0.0,Left Side(L),...,8-16 ft.,2000-10-31,MANU @ POR,"45.539131, -122.651648",shot - 45,NaN,20000012,10.00,1.0,28.800
2,3,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,1.0,Left Side Center(LC),...,16-24 ft.,2000-10-31,NaN,"45.539131, -122.651648",shot - 25,NaN,20000012,92.64,1.0,0.000
3,4,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,0.0,Right Side Center(RC),...,16-24 ft.,2000-10-31,MANU @ POR,"45.539131, -122.651648",NaN,shot - 3,20000012,NaN,1.0,122.608
4,5,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,1.0,Center(C),...,Less Than 8 ft.,2000-10-31,MANU @ POR,"45.539131, -122.651648",NaN,shot - 1,20000012,42.64,2.0,0.000

In [0]:
#appending the average now d3 is latest 
d3 = pd.concat([d1, d2], axis=1)
d3.sample(2)

,shot_id_number,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,is_goal,area_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,power_of_shot.1,knockout_match.1,distance_of_shot,distance_of_shot_1,distance_of_shot_avg
11676,11677,472.0,0.0,0.0,0.0,4.0,0.0,2007-08,1.0,Center(C),...,"43.062206, -87.944754",shot - 56,NaN,20700162,0.0,4.0,0.0,29.4,29.4,29.4
28074,28075,116.0,NaN,209.0,0.0,1.0,1.0,2007-08,1.0,Left Side Center(LC),...,"42.982923, -71.446094",NaN,shot - 3,40700142,0.0,26.6,1.0,45.0,45.0,45.0

In [0]:
d3.distance_of_shot_avg.fillna(d3.range_of_shot, inplace=True)

In [0]:
for i in d3.index:
  val = d3.get_value(i,'distance_of_shot_avg')
  if(val=='Less Than 8 ft.'):
    d3.set_value(i,'distance_of_shot_avg',25.5863)
  elif(val=='16-24 ft.'):
    d3.set_value(i,'distance_of_shot_avg',40.74)
  elif(val=='24+ ft.'):
    d3.set_value(i,'distance_of_shot_avg',46.707029)
  elif(val=='8-16 ft.'):
    d3.set_value(i,'distance_of_shot_avg',34.8279)
  elif(val=='Back Court Shot'):
    d3.set_value(i,'distance_of_shot_avg',72.619)

C:\Users\Ishita\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Ishita\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Ishita\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Ishita\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.
C:\Users\Ishita\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [0]:
#remaining min analysis 
#to see whether the values are same or not 
d4 = d1[['remaining_min','remaining_min.1']]
d4 = d4.rename(columns={'remaining_min.1':'remaining_min_1'})
d4.head()

   remaining_min  remaining_min_1
0           10.0            10.00
1           10.0            10.00
2            7.0            92.64
3            6.0              NaN
4            NaN            42.64

In [0]:
d4.describe()

       remaining_min  remaining_min_1
count   29135.000000     29162.000000
mean        4.883233        18.204615
std         3.452533        29.416973
min         0.000000         0.000000
25%         2.000000         3.000000
50%         5.000000         6.000000
75%         8.000000        11.000000
max        11.000000       128.761600

In [0]:
#filling na values and finding average of the 2 cols
d4.remaining_min_1.fillna(d4.remaining_min, inplace=True)
d4= d4.drop('remaining_min',axis=1)
d4.head()

   remaining_min_1
0            10.00
1            10.00
2            92.64
3             6.00
4            42.64

In [0]:
#appending the average now d5 is latest 
d5 = pd.concat([d3, d4], axis=1)
d5 = d5.drop('remaining_min',axis=1)
d5.head()

,shot_id_number,match_event_id,location_x,location_y,power_of_shot,knockout_match,game_season,is_goal,area_of_shot,shot_basics,...,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,power_of_shot.1,knockout_match.1,distance_of_shot,distance_of_shot_1,distance_of_shot_avg,remaining_min_1
0,1,10.0,167.0,72.0,1.0,0.0,2000-01,NaN,Right Side(R),Mid Range,...,shot - 30,NaN,20000012,10.00,1.0,50.608,38.0,38.0,38,10.00
1,2,12.0,-157.0,0.0,1.0,0.0,2000-01,0.0,Left Side(L),Mid Range,...,shot - 45,NaN,20000012,10.00,1.0,28.800,35.0,35.0,35,10.00
2,3,35.0,-101.0,135.0,1.0,0.0,2000-01,1.0,Left Side Center(LC),Mid Range,...,shot - 25,NaN,20000012,92.64,1.0,0.000,36.0,54.4,45.2,92.64
3,4,43.0,138.0,175.0,1.0,0.0,2000-01,0.0,Right Side Center(RC),Mid Range,...,NaN,shot - 3,20000012,NaN,1.0,122.608,42.0,42.0,42,6.00
4,5,155.0,0.0,0.0,2.0,0.0,2000-01,1.0,Center(C),Goal Area,...,NaN,shot - 1,20000012,42.64,2.0,0.000,20.0,20.0,20,42.64

In [0]:
#knockout match analysis
#selecting the appropriate column for knockout match 
d5 = d5.rename(columns={'knockout_match.1':'knockout_match_1'})
d5.knockout_match.fillna(d5.knockout_match_1, inplace=True)
d5 = d5.drop('knockout_match_1',axis=1)
d5.sample(7)

,shot_id_number,match_event_id,location_x,location_y,power_of_shot,knockout_match,game_season,is_goal,area_of_shot,shot_basics,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,power_of_shot.1,distance_of_shot,distance_of_shot_1,distance_of_shot_avg,remaining_min_1
3528,3529,30.0,-113.0,135.0,1.0,NaN,2002-03,1.0,Left Side Center(LC),Mid Range,...,"42.982923, -71.446094",shot - 48,NaN,20200243,6.0,1.00,37.0,37.0,37,6.0
18543,18544,262.0,40.0,138.0,3.0,0.0,2011-12,1.0,Center(C),Goal Line,...,"43.062206, -87.944754",NaN,shot - 3,21100288,8.0,3.00,34.0,34.0,34,8.0
21964,21965,266.0,-119.0,101.0,3.0,0.0,2015-16,0.0,Left Side(L),Mid Range,...,"37.754130, -122.437947",NaN,shot - 3,21500214,8.0,3.00,35.0,35.0,35,8.0
24732,24733,30.0,-192.0,179.0,1.0,0.0,NaN,0.0,Left Side Center(LC),Penalty Spot,...,"42.982923, -71.446094",shot - 56,NaN,29800418,7.0,1.00,46.0,30.4,38.2,7.0
3102,3103,272.0,0.0,0.0,3.0,0.0,2001-02,1.0,Center(C),Goal Area,...,"42.982923, -71.446094",shot - 39,NaN,20101188,8.0,79.36,20.0,20.0,20,8.0
15873,15874,514.0,170.0,206.0,4.0,0.0,2009-10,0.0,Right Side Center(RC),Penalty Spot,...,"43.717098, -79.395917",NaN,shot - 3,20900648,0.0,113.36,46.0,46.0,46,0.0
13779,13780,522.0,0.0,NaN,4.0,0.0,2008-09,0.0,Center(C),Goal Area,...,"42.982923, -71.446094",shot - 39,NaN,20800487,17.2,4.00,20.0,20.0,20,17.2

In [0]:
d5['knockout_match'].fillna("U", inplace = True)

In [0]:
#Power of shot
#selecting one column out of 2 replacing nan values with the most occuring power of shot type 
d5 = d5.rename(columns={'power_of_shot.1':'power_of_shot_1'})
d5.power_of_shot.fillna(d5.power_of_shot_1, inplace=True)
d5 = d5.drop('power_of_shot_1',axis=1)
d5.head()

,shot_id_number,match_event_id,location_x,location_y,power_of_shot,knockout_match,game_season,is_goal,area_of_shot,shot_basics,...,home/away,lat/lng,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,distance_of_shot,distance_of_shot_1,distance_of_shot_avg,remaining_min_1
0,1,10.0,167.0,72.0,1.0,0,2000-01,NaN,Right Side(R),Mid Range,...,MANU @ POR,"45.539131, -122.651648",shot - 30,NaN,20000012,10.00,38.0,38.0,38,10.00
1,2,12.0,-157.0,0.0,1.0,0,2000-01,0.0,Left Side(L),Mid Range,...,MANU @ POR,"45.539131, -122.651648",shot - 45,NaN,20000012,10.00,35.0,35.0,35,10.00
2,3,35.0,-101.0,135.0,1.0,0,2000-01,1.0,Left Side Center(LC),Mid Range,...,NaN,"45.539131, -122.651648",shot - 25,NaN,20000012,92.64,36.0,54.4,45.2,92.64
3,4,43.0,138.0,175.0,1.0,0,2000-01,0.0,Right Side Center(RC),Mid Range,...,MANU @ POR,"45.539131, -122.651648",NaN,shot - 3,20000012,NaN,42.0,42.0,42,6.00
4,5,155.0,0.0,0.0,2.0,0,2000-01,1.0,Center(C),Goal Area,...,MANU @ POR,"45.539131, -122.651648",NaN,shot - 1,20000012,42.64,20.0,20.0,20,42.64

In [0]:
d5['power_of_shot'].describe()

count    30627.000000
mean         3.108937
std          6.761758
min          1.000000
25%          1.000000
50%          3.000000
75%          4.000000
max        118.360000
Name: power_of_shot, dtype: float64

In [0]:
d5.loc[d5['power_of_shot'] > 7, 'power_of_shot'] = np.nan
d5.sample(7)

,shot_id_number,match_event_id,location_x,location_y,power_of_shot,knockout_match,game_season,is_goal,area_of_shot,shot_basics,...,home/away,lat/lng,type_of_shot,type_of_combined_shot,match_id,remaining_min.1,distance_of_shot,distance_of_shot_1,distance_of_shot_avg,remaining_min_1
5104,5105,634.0,29.0,30.0,6.0,0,2003-04,0.0,Center(C),Goal Line,...,MANU @ SAS,"29.444994, -98.524120",shot - 4,NaN,20300064,0.00,24.0,24.0,24,0.00
18149,18150,415.0,-171.0,22.0,3.0,0,2011-12,1.0,Left Side(L),Mid Range,...,MANU vs. NYK,"42.982923, -71.446094",NaN,shot - 3,21100038,29.64,37.0,37.0,37,29.64
1182,1183,242.0,-23.0,126.0,3.0,0,2000-01,0.0,Center(C),Goal Line,...,MANU @ DAL,"32.757824, -96.786653",NaN,shot - 3,20000767,11.00,32.0,32.0,32,11.00
17308,17309,293.0,173.0,217.0,3.0,0,2010-11,0.0,Right Side Center(RC),Penalty Spot,...,MANU vs. UTA,"42.982923, -71.446094",NaN,shot - 3,21000667,7.00,47.0,47.0,47,7.00
2283,2284,355.0,0.0,0.0,NaN,0,2001-02,0.0,Center(C),Goal Area,...,MANU vs. DEN,"42.982923, -71.446094",shot - 46,NaN,20100588,70.64,20.0,20.0,20,70.64
8349,8350,375.0,-49.0,23.0,4.0,0,2005-06,0.0,Center(C),Goal Line,...,MANU @ LAC,"34.189593, -118.471724",NaN,shot - 3,20500480,50.20,25.0,25.0,25,50.20
12837,12838,440.0,82.0,22.0,4.0,0,NaN,1.0,Right Side(R),Mid Range,...,MANU @ DAL,"32.757824, -96.786653",shot - 54,NaN,20701003,4.00,28.0,28.0,28,4.00

In [0]:
d5['power_of_shot'].unique()

array([ 1.,  2.,  3.,  4., nan,  5.,  6.,  7.])

In [0]:
#to see if the number of na's are less
dlo = d5['power_of_shot'].isna()
dlo[dlo==True].count()

357

In [0]:
d5['power_of_shot'].mode()

0    3.0
dtype: float64

In [0]:
d5['power_of_shot'].fillna(3, inplace = True)
d5['power_of_shot'].unique()

array([1., 2., 3., 4., 5., 6., 7.])

In [0]:
p= d5['shot_basics'].isnull()
p[p==True].count()

1575

In [0]:
d5['shot_basics'].mode()

0    Mid Range
dtype: object

In [0]:
#Shot_basics
#replacing all nan values with undefined because number is huge
d5['shot_basics'].fillna("U", inplace = True)

In [0]:
#area of shot 
#filling na values in aread of shot with U 
p1=d5['area_of_shot'].isnull()
p1[p1==True].count()

0

In [0]:
d5['area_of_shot'].mode()

0    Center(C)
dtype: object

In [0]:
d5['area_of_shot'].fillna("U", inplace = True)

In [0]:
d5['shot_basics'].unique()

array(['Mid Range', 'Goal Area', 'Goal Line', 'Penalty Spot', 'U',
       'Right Corner', 'Mid Ground Line', 'Left Corner'], dtype=object)

In [0]:
#game season 
d5['game_season'].unique()
d5['game_season'].fillna(method='ffill', inplace=True)

In [0]:
#type of combined shot and shots
#filling 0 in place of na 
d5['type_of_combined_shot'].fillna(0, inplace=True)
d5['type_of_shot'].fillna(0, inplace = True)

In [0]:
d5.to_csv('d5(1).csv')

In [0]:
d5 = pd.read_csv('d5(1).csv')
d6 = d5.drop('location_x',axis=1)
d6 = d6.drop('location_y',axis=1)

In [0]:
d6['home/away'] = d6.groupby(['match_id'])['home/away'].ffill()
d6['home/away'] = d6.groupby(['match_id'])['home/away'].bfill()

In [0]:
d6['lat/lng'].fillna(d6['home/away'],inplace=True)
d6['lat/lng'] = d6['lat/lng'].replace(to_replace ='@', value = 0 , regex = True) 
d6['lat/lng'] = d6['lat/lng'].replace(to_replace ='vs', value = 1 , regex = True)

In [0]:
d6.loc[(d6['lat/lng'] != '42.982923, -71.446094') & (d6['lat/lng'] != 1) &  (d6['lat/lng'].notnull()), 'lat/lng'] = 0
d6.loc[d6['lat/lng'] == '42.982923, -71.446094','lat/lng'] = 1
d6['lat/lng'].unique()

array([0, 1], dtype=int64)

In [0]:
d6['date_of_game'] = d6.groupby(['match_id'])['date_of_game'].ffill()
d6['date_of_game'] = d6.groupby(['match_id'])['date_of_game'].bfill()

In [0]:
d6['home/away']=d6['home/away'].astype("str").apply(lambda x: x.lstrip("MANU"))
d6['home/away']=d6['home/away'].astype("str").apply(lambda x: x.lstrip("vs. "))
d6['home/away']=d6['home/away'].astype("str").apply(lambda x: x.lstrip("@ "))

In [0]:
b= d6.isnull()
b[b==True].count()

Unnamed: 0                  0
shot_id_number              0
match_event_id           1563
power_of_shot               0
knockout_match              0
game_season                 0
is_goal                  6268
area_of_shot                0
shot_basics                 0
range_of_shot            1564
date_of_game                1
home/away                   0
lat/lng                     0
type_of_shot                0
type_of_combined_shot       0
match_id                    0
remaining_min.1          1535
distance_of_shot           97
distance_of_shot_1         97
distance_of_shot_avg        9
remaining_min_1            81
dtype: int64

In [0]:
d6 = d6.drop(['match_event_id','range_of_shot','remaining_min.1','distance_of_shot','distance_of_shot_1'], axis=1)
d6 =  d6.drop(['Unnamed: 0'],axis=1)

In [0]:
d6['remaining_min_1'].describe()

count    30616.000000
mean        17.575091
std         28.857798
min          0.000000
25%          3.000000
50%          6.000000
75%         10.000000
max        128.761600
Name: remaining_min_1, dtype: float64

In [0]:
d6['remaining_min_1'].fillna(17,inplace=True)

In [0]:
d7 = d6['is_goal']
d8 = d6.dropna()

In [0]:
c= d8.isnull()
c[c==True].count()

shot_id_number           0
power_of_shot            0
knockout_match           0
game_season              0
is_goal                  0
area_of_shot             0
shot_basics              0
date_of_game             0
home/away                0
lat/lng                  0
type_of_shot             0
type_of_combined_shot    0
match_id                 0
distance_of_shot_avg     0
remaining_min_1          0
dtype: int64

In [0]:
d8.to_csv('finaldata.csv', index=False)

In [0]:
f1 = pd.read_csv('finaldata.csv')
f1.head()

,shot_id_number,power_of_shot,knockout_match,game_season,is_goal,area_of_shot,shot_basics,date_of_game,home/away,lat/lng,type_of_shot,type_of_combined_shot,match_id,distance_of_shot_avg,remaining_min_1
0,2,1.0,0.0,2000-01,0.0,Left Side(L),Mid Range,2000-10-31,POR,0,shot - 45,0,20000012,35.0,10.00
1,3,1.0,0.0,2000-01,1.0,Left Side Center(LC),Mid Range,2000-10-31,POR,0,shot - 25,0,20000012,45.2,92.64
2,4,1.0,0.0,2000-01,0.0,Right Side Center(RC),Mid Range,2000-10-31,POR,0,0,shot - 3,20000012,42.0,6.00
3,5,2.0,0.0,2000-01,1.0,Center(C),Goal Area,2000-10-31,POR,0,0,shot - 1,20000012,20.0,42.64
4,6,3.0,0.0,2000-01,0.0,Left Side(L),Mid Range,2000-10-31,POR,0,shot - 17,0,20000012,34.0,9.00

In [0]:
#f1 = f1.drop('date_of_game',axis=1)
f1.shape

(24421, 15)

In [0]:
f1['area_of_shot'].unique()

array(['Left Side(L)', 'Left Side Center(LC)', 'Right Side Center(RC)',
       'Center(C)', 'Right Side(R)', 'U', 'Mid Ground(MG)'], dtype=object)

In [0]:
f1['shot_basics'].unique()

array(['Mid Range', 'Goal Area', 'Goal Line', 'Penalty Spot', 'U',
       'Right Corner', 'Mid Ground Line', 'Left Corner'], dtype=object)

In [0]:
f2 = f1.groupby(['home/away'])['is_goal'].agg('sum').reset_index().sort_values(by='is_goal',ascending=False)
f2 = pd.DataFrame(f2)
f2.head()

   home/away  is_goal
31       SAS    672.0
27       PHX    654.0
29       SAC    617.0
11       HOU    585.0
8        DEN    584.0

In [0]:
f3 = f1.groupby(['match_id'])['is_goal'].agg('sum').reset_index().sort_values(by='is_goal',ascending=False)
f3 = pd.DataFrame(f3)
f3.head()

     match_id  is_goal
398  20500591     21.0
500  20600977     19.0
506  20601081     18.0
553  20700553     17.0
27   20000373     17.0

In [0]:
f4 = f1.groupby(['area_of_shot'])['is_goal'].agg('sum').reset_index().sort_values(by='is_goal',ascending=False)
f4 = pd.DataFrame(f4)
f4

            area_of_shot  is_goal
0              Center(C)   5336.0
5          Right Side(R)   1390.0
4  Right Side Center(RC)   1384.0
2           Left Side(L)   1117.0
1   Left Side Center(LC)   1102.0
6                      U    547.0
3         Mid Ground(MG)      1.0

In [0]:
f5 = f1.groupby(['shot_basics'])['is_goal'].agg('sum').reset_index().sort_values(by='is_goal',ascending=False)
f5 = pd.DataFrame(f5)
f5

       shot_basics  is_goal
4        Mid Range   3851.0
0        Goal Area   3290.0
1        Goal Line   1594.0
5     Penalty Spot   1418.0
7                U    543.0
6     Right Corner    101.0
2      Left Corner     79.0
3  Mid Ground Line      1.0

In [0]:
f6 = f1.groupby(['game_season'])['is_goal'].agg('sum').reset_index().sort_values(by='is_goal',ascending=False)
f6 = pd.DataFrame(f6)
f6.head()

   game_season  is_goal
9      2005-06    822.0
12     2008-09    820.0
11     2007-08    806.0
13     2009-10    774.0
6      2002-03    773.0

In [0]:
f1['knockout_match'] = f1['knockout_match'].replace(to_replace ='U', value = '0.0', regex = True) 
f1['knockout_match'] = pd.to_numeric(f1['knockout_match'])


for i in f1.index:
  val = f1.get_value(i,'knockout_match')
  if(val>1.0):
    f1.set_value(i,'knockout_match',1.0)

C:\Users\Ishita\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Ishita\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [0]:
m1 = pd.merge(f1, f2, on ='home/away')
m1 = m1.rename(columns={'is_goal_y':'home/away_n'})
m1.columns

Index(['shot_id_number', 'power_of_shot', 'knockout_match', 'game_season',
       'is_goal_x', 'area_of_shot', 'shot_basics', 'date_of_game', 'home/away',
       'lat/lng', 'type_of_shot', 'type_of_combined_shot', 'match_id',
       'distance_of_shot_avg', 'remaining_min_1', 'home/away_n'],
      dtype='object')

In [0]:
m2 = pd.merge(m1, f3, on ='match_id')
m2 = m2.rename(columns={'is_goal':'match_id_n'})
m2.columns

Index(['shot_id_number', 'power_of_shot', 'knockout_match', 'game_season',
       'is_goal_x', 'area_of_shot', 'shot_basics', 'date_of_game', 'home/away',
       'lat/lng', 'type_of_shot', 'type_of_combined_shot', 'match_id',
       'distance_of_shot_avg', 'remaining_min_1', 'home/away_n', 'match_id_n'],
      dtype='object')

In [0]:
m3 = pd.merge(m2, f4, on ='area_of_shot')
m3 = m3.rename(columns={'is_goal':'area_of_shot_n'})
m3.columns

Index(['shot_id_number', 'power_of_shot', 'knockout_match', 'game_season',
       'is_goal_x', 'area_of_shot', 'shot_basics', 'date_of_game', 'home/away',
       'lat/lng', 'type_of_shot', 'type_of_combined_shot', 'match_id',
       'distance_of_shot_avg', 'remaining_min_1', 'home/away_n', 'match_id_n',
       'area_of_shot_n'],
      dtype='object')

In [0]:
m4 = pd.merge(m3, f5, on ='shot_basics')
m4 = m4.rename(columns={'is_goal':'shot_basics_n'})
m4.columns

Index(['shot_id_number', 'power_of_shot', 'knockout_match', 'game_season',
       'is_goal_x', 'area_of_shot', 'shot_basics', 'date_of_game', 'home/away',
       'lat/lng', 'type_of_shot', 'type_of_combined_shot', 'match_id',
       'distance_of_shot_avg', 'remaining_min_1', 'home/away_n', 'match_id_n',
       'area_of_shot_n', 'shot_basics_n'],
      dtype='object')

In [0]:
m5 = pd.merge(m4, f6, on ='game_season')
m5 = m5.rename(columns={'is_goal':'game_season_n'})
m5.columns

Index(['shot_id_number', 'power_of_shot', 'knockout_match', 'game_season',
       'is_goal_x', 'area_of_shot', 'shot_basics', 'date_of_game', 'home/away',
       'lat/lng', 'type_of_shot', 'type_of_combined_shot', 'match_id',
       'distance_of_shot_avg', 'remaining_min_1', 'home/away_n', 'match_id_n',
       'area_of_shot_n', 'shot_basics_n', 'game_season_n'],
      dtype='object')

In [0]:
m5.to_csv('pleaseberight.csv',index=False)

In [0]:
m6 = m5.drop(['home/away', 'match_id','area_of_shot', 'shot_basics', 'game_season','date_of_game'],axis=1)
m6.columns

Index(['shot_id_number', 'power_of_shot', 'knockout_match', 'is_goal_x',
       'lat/lng', 'type_of_shot', 'type_of_combined_shot',
       'distance_of_shot_avg', 'remaining_min_1', 'home/away_n', 'match_id_n',
       'area_of_shot_n', 'shot_basics_n', 'game_season_n'],
      dtype='object')

In [0]:
m6 = m6.rename(columns={'lat/lng':'home/away', 'home/away_n':'opposing_team'})

In [0]:
m6.to_csv('FINAL1.csv',index=False)

In [2]:
f1 = pd.read_csv("final2.csv")

In [3]:
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("processed_data.csv")

In [5]:
data.head()

,shot_id_number,power_of_shot,knockout_match,is_goal_x,home/away,distance_of_shot_avg,remaining_min_1,opposing_team,match_id_n,area_of_shot_n,shot_basics_n,game_season_n,type_of_shot_n,type_of_combined_shot_n
0,2,1.0,0.0,0.0,0,35.0,10.0,573.0,4.0,1117.0,3851.0,698.0,38.0,5465.0
1,235,4.0,0.0,0.0,1,41.0,0.0,213.0,7.0,1117.0,3851.0,698.0,38.0,5465.0
2,286,3.0,0.0,0.0,0,50.7,11.0,467.0,10.0,1102.0,3851.0,698.0,38.0,5465.0
3,878,1.0,0.0,0.0,1,41.0,3.0,216.0,9.0,1102.0,3851.0,698.0,38.0,5465.0
4,224,3.0,0.0,1.0,1,40.0,7.0,213.0,7.0,1384.0,3851.0,698.0,38.0,5465.0

In [6]:
from sklearn.model_selection import train_test_split

X = data.drop('is_goal_x', axis=1)
Y = data['is_goal_x']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [7]:
x_train.shape, x_test.shape

((19537, 13), (4885, 13))

In [8]:
y_train.shape, y_test.shape

((19537,), (4885,))

In [9]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression(fit_intercept=True).fit(x_train, y_train)

In [10]:
print("Training_score : " , linear_model.score(x_train, y_train))

Training_score :  0.05382528334579806

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import statsmodels.api as sm

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Lars
from sklearn.linear_model import SGDRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

import warnings
warnings.filterwarnings("ignore")

C:\Users\dhruv\Anaconda34\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [12]:
result_dict = {}

In [13]:
def build_model(regression_fn,                
                name_of_y_col, 
                names_of_x_cols, 
                dataset, 
                test_frac=0.2,
                preprocess_fn=None,
                show_plot_Y=False,
                show_plot_scatter=False):
    
    X = dataset[names_of_x_cols]
    Y = dataset[name_of_y_col]

    if preprocess_fn is not None:
        X = preprocess_fn(X)

    x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=test_frac)
    
    model = regression_fn(x_train, y_train)
    
    y_pred = model.predict(x_test)
    
    print("Training_score : " , model.score(x_train, y_train))
    print("Test_score : ", r2_score(y_test, y_pred))

    if show_plot_Y == True:
        fig, ax = plt.subplots(figsize=(12, 8))
        
        plt.plot(y_pred, label='Predicted')
        plt.plot(y_test.values, label='Actual')
        
        plt.ylabel(name_of_y_col)

        plt.legend()
        plt.show()

    if show_plot_scatter == True:
        fig, ax = plt.subplots(figsize=(12, 8))
        
        plt.scatter(x_test, y_test)
        plt.plot(x_test, y_pred, 'r')
        
        plt.legend(['Predicted line','Observed data'])
        plt.show()
    
    return {
            'training_score': model.score(x_train, y_train),
            'test_score': r2_score(y_test, y_pred)
           }

In [14]:
def compare_results():
    for key in result_dict:
        print('Regression: ', key)
        print('Training score', result_dict[key]['training_score'])
        print('Test score', result_dict[key]['test_score'])
        print()

In [15]:
def linear_reg(x_train, y_train):
    model = LinearRegression(normalize=True)
    model.fit(x_train, y_train)
    
    return model

In [16]:
def lasso_reg(x_train, y_train, alpha=0.5):
    model = Lasso(alpha=alpha)
    model.fit(x_train, y_train)
    
    return model

In [17]:
def ridge_reg(x_train, y_train, alpha=0.5, normalize=True):
    model = Ridge(alpha=alpha, normalize=normalize)
    model.fit(x_train, y_train)
    
    return model

In [18]:
def elastic_net_reg(x_train, y_train, alpha=1, l1_ratio=0.5, 
                    normalize=False, max_iter=100000, warm_start=True, equivalent_to="Elastic Net"):

    print("Equivalent to:", equivalent_to)
    
    model = ElasticNet(alpha=alpha, l1_ratio=l1_ratio, 
                       normalize=normalize, max_iter=max_iter, warm_start=warm_start)
    model.fit(x_train, y_train)

    return model

In [19]:
compare_results()

In [34]:
result_dict['is_goal_x ~ svg'] = build_model(linear_reg,
                                                 'is_goal_x',
                                                ['shot_id_number', 'power_of_shot', 'knockout_match',
       'home/away', 'distance_of_shot_avg', 'remaining_min_1', 'opposing_team',
       'match_id_n', 'area_of_shot_n', 'shot_basics_n', 'game_season_n',
       'type_of_shot_n', 'type_of_combined_shot_n'],
                                                  data,
                                                  show_plot_Y=False)

Training_score :  0.05251115754644431
Test_score :  0.06425014480445068

In [36]:
y_pred = linear_model.predict(x_test)
y_pred

array([0.34724177, 0.35044773, 0.30136991, ..., 0.40145867, 0.46262718,
       0.42078419])

In [37]:
from sklearn.metrics import r2_score

print("Testing_score : ", r2_score(y_test, y_pred))

Testing_score :  0.059371109666240374

In [40]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})

df_pred_actual.sample(10)

       actual  predicted
16954     1.0   0.387672
11358     0.0   0.520435
12894     0.0   0.321330
12309     0.0   0.521510
7860      1.0   0.555341
11900     1.0   0.369252
7503      1.0   0.407876
21390     0.0   0.394526
8017      1.0   0.529597
19406     1.0   0.346921

In [21]:
data.columns

Index(['shot_id_number', 'power_of_shot', 'knockout_match', 'is_goal_x',
       'home/away', 'distance_of_shot_avg', 'remaining_min_1', 'opposing_team',
       'match_id_n', 'area_of_shot_n', 'shot_basics_n', 'game_season_n',
       'type_of_shot_n', 'type_of_combined_shot_n'],
      dtype='object')

In [22]:
compare_results()

In [23]:
def svr_reg(x_train, y_train, kernel='linear', epsilon=0.05, C=0.3):
    model = SVR(kernel=kernel, epsilon=epsilon, C=C)
    model.fit(x_train,y_train)
    
    return model

In [24]:
def kneighbors_reg(x_train, y_train, n_neighbors=10):
    model = KNeighborsRegressor(n_neighbors=n_neighbors)
    model.fit(x_train, y_train)
    
    return model

In [25]:
def sgd_reg(x_train, y_train, max_iter=10000, tol=1e-3):
    model = SGDRegressor(max_iter=max_iter, tol=tol)
    model.fit(x_train, y_train)
    
    return model

In [26]:
def sgd_reg(x_train, y_train, max_iter=10000, tol=1e-3):
    model = SGDRegressor(max_iter=max_iter, tol=tol)
    model.fit(x_train, y_train)
    
    return model

In [27]:
def decision_tree_reg(x_train, y_train, max_depth=2):
    model = DecisionTreeRegressor(max_depth=max_depth)
    model.fit(x_train, y_train)
    
    return model

In [28]:
def lars_reg(x_train, y_train, n_nonzero_coefs=4):
    model = Lars(n_nonzero_coefs=n_nonzero_coefs)
    model.fit(x_train, y_train)
    
    return model